{% extends "base_admin.j2" %}

{% block title %}This is the admin page{% endblock %}

{% block content %}
<h1>Hello, admin</h1>
<p>This is the admin page.</p>
<h2>User</h2>
<p>{{ current_user }}</p>
<hr>

<h2>Sites</h2>
{% if sites | length > 0 %}
<ul>
  {% for site in sites %}
  <li>{{ site.id }}: {{ site.name }} {{ site.title }} {{ site.fqdns }}</li>
  {% endfor %}
</ul>
{% else %}
No sites defined.
{% endif %}

<h2>Content</h2>
{% if content | length > 1 %}
<ul>
  {% for page in content %}
  <li>{{ page.site.name }}: {{ page.title }}</li>
  {% endfor %}
</ul>
{% else %}
No content.
{% endif %}

<h2>Tags</h2>
<ul>
  {% for tag in tags %}
  <li>{{ tag }}</li>
  {% endfor %}
</ul>

<h2>Categories</h2>
<ul>
  {% for category in categories %}
  <li>{{ category }}</li>
  {% endfor %}
</ul>
<hr>
<h2>Request</h2>
<p>{{ request }}</p>
{% endblock %}