{% extends "base.html" %}

{% block content %}
<h1>Super Admin</h1>
<h2>Create new Admin</h2>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.new_first_name.label }}<br>
        {{ form.new_first_name(size=32) }}
    </p>
    <p>
        {{ form.new_last_name.label }}<br>
        {{ form.new_last_name(size=32) }}
    </p>
    <p>
        {{ form.new_username.label }}<br>
        {{ form.new_username(size=32) }}
    </p>
    <p>
        {{ form.new_password.label }}<br>
        {{ form.new_password(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}