{% extends "base_admin.j2" %}

{% block title %}This is the admin page{% endblock %}

{% block content %}
<h2>Sites</h2>
{% if sites | length > 0 %}
<ul>
  {% for site in sites %}
  <li>{{ site.id }}: {{ site.name }} {{ site.title }} {{ site.fqdns }}</li>
  {% endfor %}
</ul>
{% else %}
No sites defined.
{% endif %}
{% endblock %}