{% extends "base.j2" %}

{% block title %}This is an example page{% endblock %}

{% block featured %}
<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
  {% include "includes/bigfeatured.j2" %}
</div>

<div class="row mb-2">
  {% include "includes/smallfeatured.j2" %}
</div>
{% endblock featured %}

{% block content %}
{% include "includes/list_content.j2" %}
{% endblock content %}