{% extends "base.html" %}

{% block title %}This is an example login{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <h1>Hello, register page</h1>
  <p>This is the registration form.</p>
  <form action="/register/" method="post">
    {{ form.csrf_token }}
    {{ form.user_name.label }} {{ form.user_name }}<br/>
    {{ form.email.label }} {{ form.email }}<br/>
    {{ form.pass_word.label }} {{ form.pass_word }}<br/>
    {{ form.first_name.label }} {{ form.first_name }}<br/>
    {{ form.last_name.label }} {{ form.last_name }}<br/>
    <input type="submit" value="Go">
  </form>
  <h2>Request</h2>
  <p>{{ request }}</p>
{% endblock %}
