{% for content in list_content %}
<article class="blog-post">
    <h2 class="blog-post-title mb-1">{{ content.title }}</h2>
    <p class="blog-post-meta">{{ content.publish_date }}<a href="#">Mark</a></p>
    <p>{{ content.body }}</p>
</article>
{% endfor %}